<%- include('partials/header', { title: 'Movies', user: user }) %>

<div class="container page-container">
    <h1>All Movies</h1>

    <% if (user) { %>
        <a href="/movies/add" class="btn btn-primary">Add New Movie</a>
    <% } %>

    <div class="movie-grid">
        <% movies.forEach(movie => { %>
            <div class="movie-card">
                <h3><%= movie.name %> (<%= movie.year %>)</h3>
                <p><%= movie.description.substring(0, 100) %>...</p>
                <p>Rating: <strong><%= movie.rating %>/10</strong></p>
                <p>Duration: <%= movie.duration %> minutes</p>
                <p>Genres: <%= movie.genres.join(', ') %></p>
                <p>Added by: <%= movie.addedBy.username %></p>
                <a href="/movies/<%= movie._id %>" class="btn">View Details</a>
            </div>
        <% }) %>
    </div>
</div>

<%- include('partials/footer') %>
